
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    background: #f4f4f4;
    color: #333;
}
header {
    background: #0055A4;
    color: #fff;
    padding: 1rem 2rem;
    text-align: center;
}
header h1 {
    margin: 0;
}
main {
    padding: 2rem;
    max-width: 800px;
    margin: auto;
    background: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
section {
    margin-bottom: 2rem;
}
section h2 {
    color: #0055A4;
}
#globe, #win-rate {
    margin: 2rem 0;
    height: 500px;
}

#vis.vega-embed {
    width: 100%;
    display: flex;
  }

  #vis.vega-embed details,
  #vis.vega-embed details summary {
    position: relative;
  }

.iframe-wrapper {
    position: relative;
    width: 100%;
    overflow: hidden;
}
.iframe {
    transform: scale(0.2); /* Adjust the scale value as needed */
    transform-origin: top left; /* Ensure proper scaling from the top-left corner */
    width: 100%; /* Compensate for scaling by increasing the width */
    height: 100%; /* Compensate for scaling by increasing the height */
    border: none;
}

/* .tableauPlaceholder {
    transform: scale(1.1);
    width: 80%;
    height: 100%;
} */